.tarea-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tarea-input {
  width: 350px;
  font-size: 18px;
  background-color: #ebedee;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5492ff;
  outline: none;
}

.tarea-boton {
  padding: 16px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #5492ff;
  color: white;
  text-transform: capitalize;
}
