.tarea-contenedor {
  width: 500px;
  height: 56px;
  background-color: #e0f7fa;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  cursor: pointer;
}

.tarea-contenedor:nth-child(3n + 1) {
  background-color: #ff6958;
}

.tarea-contenedor:nth-child(3n + 2) {
  background-color: #ff7f71;
}

.tarea-contenedor:nth-child(3n + 3) {
  background-color: #ff9387;
}

.tarea-texto {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.tarea-icono {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.tarea-contenedor.completada {
  background-color: #06d6a0;
  text-decoration: line-through;
}
